.div-form{
    padding: 40px 0px 0px;
}

.div-form .form-control:focus{
    box-shadow: none;
    border-color: inherit;
}

.div-form input{
    padding: 8px 24px !important;
}

.div-form input::placeholder{
    font-weight: 500;
    color: rgba(0,0,0,0.5) !important;
}

.div-form form input{
    border-radius: 16px !important;
}

.div-form form button {
    padding: 4px 24px !important;
    border-radius: 16px !important;
    background-color: #748cf1;
    border: #748cf1;
}

.div-form form button:hover, .div-form form button:focus-visible, .div-form form button:active {
    border: #5c73d1;
    box-shadow: none;
    background-color: #5c73d1 !important;
}
